    @media screen and (max-width: 1439px) {
    .two .slick-slide img {
        width: 315px;
    }
    .lp {
        padding-left: 50px !important;
    }
    .footer-box {
        margin-left: 50px;
    }
    .navigate.prev {
        /* left: -10px;
	} */
        /* .navigate.next {
		right: 45px;
	} */
        .navigate.next.three {
            right: 0;
        }
        .text-carousel {
            font-size: 15px;
        }
        .four .navigate.next {
            right: 0;
        }
    }
    @media screen and (max-width: 1300px) {
        .header_title {
            font-size: 40px;
            line-height: 40px;
        }
        .header_title_two {
            font-size: 20px;
        }
        .header_title_two span {
            font-size: 20px;
        }
        .header_image {
            width: 500px;
        }
        .box-disp {
            justify-content: space-between;
        }
        .big_one_title {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 35px;
        }
        .big_one_image {
            width: 200px;
            margin-bottom: 35px;
        }
        .title-h1 {
            font-size: 40px;
            line-height: 40px;
        }
        .title-h1.five {
            font-size: 40px;
            line-height: 40px;
        }
        .five-six-title {
            font-size: 43px;
            line-height: 50px;
        }
        .title-h1.six {
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 0;
        }
        .seven-text-box-title {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 15px;
        }
        .seven-text-box-text {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 15px;
        }
        .footer-box {
            margin-left: 20px;
        }
        .lp {
            padding-left: 20px !important;
        }
    }
    @media screen and (max-width: 1200px) {
        .fale {
            width: 605px !important;
            height: 528px !important;
            margin-left: -34px;
            margin-top: -23px;
        }
        .seven-box {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .tg {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .submit {
            display: flex !important;
            align-items: center;
            justify-content: center;
        }
        .seven-text-box {
            margin-right: 0;
            margin-bottom: 20px;
        }
        .six-boxs {
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .title-h1.six {
            text-align: center;
        }
        .title-h1.six {
            padding: 0;
            margin-bottom: 40px;
        }
        .big_one_title {
            font-size: 35px;
        }
    }
    @media screen and (max-width: 1100px) {
        .header_title {
            font-size: 30px;
        }
        .header_image {
            width: 400px;
        }
        .box-disp {
            justify-content: center;
        }
        .big_box_one {
            justify-content: center !important;
        }
        .big_one__one {
            margin-right: 40px;
        }
        .title-h1 {
            text-align: center;
        }
        .title-h1.five {
            justify-content: center;
        }
        .two .slick-slide img {
            width: 270px;
        }
        /* .four .carousel-1 img {
		width: 350px;
		height: 380px;
	}
	.fale {
		width: 568px !important;
		height: 453px !important;
	} */
    }
    @media screen and (max-width: 1000px) {
        .three-main {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .line_box {
            display: none;
        }
        .three_small {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .three_small_text {
            text-align: center;
        }
        .three_small_text.mg {
            margin: 0;
        }
        .three_small.mg {
            margin: 0;
        }
        .three_small {
            border-bottom: 1px solid #6b6b6b;
            padding-bottom: 20px;
        }
        .three_small:first-child {
            border-top: 1px solid #6b6b6b;
        }
        .item-1 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        /* .four .carousel-1 img {
		margin-bottom: 40px;
	} */
        .big_box_one {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .big_one_text_two {
            max-width: 500px;
        }
        .big_one_title {
            justify-content: center;
        }
        .big_one__one {
            margin-right: 0;
        }
        .navbar {
            justify-content: center !important;
        }
        .navbar__img {
            margin-bottom: 30px;
        }
        .five-six-img {
            margin-right: 30px;
            width: 300px;
            height: 280px;
        }
        .lp {
            padding-left: 0 !important;
        }
        .footer-box {
            margin-left: 0;
        }
        .margin {
            margin-right: 0;
        }
        .two .slick-slide img {
            width: 220px;
        }
        .text-carousel {
            font-size: 10px;
        }
        .print {
            top: 20px;
        }
        .norm {
            top: 50px;
        }
        .main-pic {
            margin-bottom: 150px;
            margin-top: 100px;
        }
        .fale {
            margin-bottom: 40px;
            margin-top: 0px;
        }
    }
    @media screen and (max-width: 950px) {
        .box-disp {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .header_text_box {
            margin-bottom: 50px;
        }
        .five-six-img {
            margin: 0;
            margin-bottom: 30px;
            width: 250px;
            height: 230px;
        }
        .five-six-main {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .five-six-title {
            max-width: 500px;
            font-size: 40px;
            line-height: 45px;
        }
        .five-six {
            padding: 80px 0;
        }
        .header_text_box {
            margin-right: 0;
        }
    }
    @media screen and (max-width: 700px) {
        .menu__list {
            display: none;
        }
        .menu__list_end {
            display: none;
        }
        .menu__list:last-child {
            display: flex;
        }
        .navbar {
            display: flex;
            align-items: center !important;
            justify-content: space-between !important;
            flex-wrap: nowrap !important;
        }
        .navbar__img {
            margin-bottom: 0;
        }
        .menu {
            width: fit-content;
        }
        /* .four .carousel-1 img {
		width: 300px;
		height: 330px;
	}
	.fale {
		margin-left: 0;
		width: 450px !important;
		height: 380px !important;
	} */
        .five-six-title {
            font-size: 30px;
            line-height: 35px;
            text-align: center;
        }
        .five-six-text-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .two .slick-slide img {
            width: 320px;
        }
        .seven-text-box {
            padding: 10px;
        }
    }
    @media screen and (max-width: 550px) {
        .footer-box {
            flex-direction: column;
        }
        .logo-footer {
            margin-bottom: 30px;
        }
        .info-footer-box {
            margin-bottom: 30px;
        }
        .footer-contact-box {
            align-items: center;
        }
        .two_one_title {
            font-size: 50px;
            line-height: 55px;
        }
        .two_one_textt {
            margin: 0;
        }
        .big_one__two_one,
        .big_one__two_two,
        .big_one__two_three {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .big_one__one {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .carousel-box {
            padding: 40px 0;
        }
        .main-pic {
            width: 213px;
            height: 152px;
        }
        .print {
            width: 284px;
            height: 284px;
            left: 0;
            top: 0;
        }
        .norm {
            width: 284px;
            height: 284px;
            left: -38px;
            top: 30px;
        }
        .item-1:nth-child(4) .norm {
            left: -47px;
        }
        .fale {
            width: 355px !important;
            height: 278px !important;
        }
    }
    @media screen and (max-width: 500px) {
        .header_text {
            font-size: 13px;
            line-height: 15px;
        }
        .seven-text-box-title,
        .seven-text-box-text {
            font-size: 20px;
            line-height: 20px;
        }
        .title-h1 {
            font-size: 30px !important;
        }
        @keyframes active {
            0% {
                height: 0;
            }
            100% {
                height: 210px;
            }
        }
        .inputFirst {
            width: 100%;
        }
        form {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            flex-direction: column !important;
        }
        .form-group {
            width: 310px;
        }
        .input-file span {
            width: 310px;
        }
        .check-text {
            max-width: 230px !important;
        }
        .submit {
            width: 310px;
        }
        .two .slick-slide img {
            width: 280px;
        }
        .header_image {
            width: 310px;
        }
    }
    @media screen and (max-width: 400px) {
        .header_title,
        .header_title_two {
            font-size: 20px;
            line-height: 25px;
        }
        .header_text {
            font-size: 11px;
        }
        .navbar {
            align-items: center !important;
            justify-content: space-between !important;
        }
        /* .navbar__img {
		margin-bottom: 30px;
	} */
        .header_section {
            padding: 40px 0;
        }
        .header_text_box {
            order: 2;
        }
        .header_image {
            margin-bottom: 30px;
        }
        .one {
            padding: 40px 0;
        }
        .big_one_title {
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 15px;
        }
        .big_one_image {
            width: 130px;
            margin-bottom: 15px;
        }
        .three {
            padding: 40px 0;
        }
        /* .four .carousel-1 img {
		width: 270px;
		height: 300px;
	} */
        /* .fale {
		width: 375px !important;
		height: 300px !important;
		margin-top: 50px;
	} */
        .carousel-title {
            margin-bottom: 10px;
            font-size: 20px;
        }
        .carousel-info {
            margin-bottom: 10px;
            font-size: 15px;
        }
        .carousel-dop {
            font-size: 15px;
        }
        .header_section {
            padding-top: 160px;
        }
        .header_text_box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .header_image {
            width: 260px;
        }
        .button_header {
            display: none !important;
        }
        .button_header.two {
            display: flex !important;
            width: 35px !important;
            height: 35px !important;
            border-radius: 50% !important;
            padding: 0 !important;
            align-items: center;
            justify-content: center;
        }
        .button_header.two img {
            width: 25px;
            height: 20px;
        }
    }